@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Odibee+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Odibee Sans", cursive;
}

body {
    background-image: url("../image/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    flex-basis: 100vw;
    justify-content: center;
}

.logo {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 1rem 0;
}

.logo img {
    width: 15vw;
    filter: drop-shadow(8px 5px 2px #d14411);
}

.title {
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
}

.title h1 {
    background-image: linear-gradient(to right, #eea65e, #d14411);
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #fff;
    padding: 0.7rem 1rem;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: #eea65e 0px 2px 8px 0px;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0;
}

.instructions {
    padding: 2rem 3rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6234944661458333) 0%,
        rgba(38, 38, 38, 0.8139706566220238) 67%,
        rgba(91, 91, 91, 0.898004270067402) 100%
    );
    margin: 1rem;
}

.instructions h3 {
    color: #fff;
    flex-basis: 100vw;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding: 1rem 0;
}

ul li {
    color: #fff;
    padding: 0.3rem 0;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
}

.level {
    display: flex;
    flex-basis: 30vw;
    justify-content: space-between;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}

.level button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to top right, #ee5108, #ff8c2e);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.clicks {
    flex-basis: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: rgb(81, 103, 179);
    background: radial-gradient(
        circle,
        rgba(81, 103, 179, 1) 8%,
        rgba(21, 16, 234, 0.7159314409357493) 49%,
        rgba(6, 15, 224, 0.5002451664259453) 100%
    );
}

.level button:focus {
    color: #ee5108;
    background: #fff;
}

#game_container {
    flex-basis: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: none;
}

#warning {
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
    display: none;
}

h2 {
    display: flex;
    flex-basis: 100vw;
    text-align: center;
    color: #ee5108;
}

#reset,
#start {
    display: flex;
    flex-basis: 100vw;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
}

#reset {
    flex-basis: 100vw;
    justify-content: center;
}

#start img,
#reset img {
    width: 5vw;
    background-color: #fff;
    overflow: hidden;
    border-radius: 100%;
}

#start:hover {
    content: "start";
}

#scores {
    display: none;
    flex-basis: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6234944661458333) 0%,
        rgba(38, 38, 38, 0.8139706566220238) 67%,
        rgba(91, 91, 91, 0.898004270067402) 100%
    );
}

#scores h2 {
    flex-basis: 20%;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding-top: 3rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

#reset {
    display: none;
}

.medal {
    width: 70px;
}
#game {
    flex-basis: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem 2rem;
    border-radius: 15px;
    margin: 2rem;
    display: none;
}

#game div {
    border: 1px solid black;
    flex-basis: 120px;
    height: 125px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.5s;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    border: 12px solid #e67e22;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: url("../image/parachute.png");
    background-position: center;
    padding: 0.5rem 0;
    background-color: #022e55;
}

.button_container {
    flex-basis: 100vw;
    display: flex;
    justify-content: space-evenly;
}

#best {
    padding: 1rem 0.5rem;
}

#win {
    flex-basis: 100vw;
    text-align: center;
    color: #fff;
    justify-content: center;
    font-size: 2rem;
}

.rotate-card {
    transform: perspective(500px) rotateY(180deg);
}

#cards_count {
    border: none;
    padding: 0.5rem;
    flex-basis: 30%;
    border-radius: 5px;
}

#invalid {
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    filter: drop-shadow(5px 3px 2px #000);
}
.areyousure {
    flex-basis: 20vw;
    text-align: center;
    display: flex;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.areyousure p {
    flex-basis: 100%;
    padding: 0.5rem;
    font-weight: 200;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.buttons {
    flex-basis: 100%;
}

.buttons button {
    background-color: #ee5108;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 480px) {
    :root {
        font-size: 14px;
    }

    #game_container {
        flex-basis: 100vw;
        padding: 20px 15px;
    }

    #game {
        flex-basis: 100%;
        justify-content: center;
    }

    #game div {
        flex-basis: 30%;
    }

    #cards_count {
        flex-basis: 80%;
    }

    #start img,
    #reset img {
        width: 15vw;
    }

    .logo img {
        width: 30vw;
    }

    #scores h2 {
        flex-basis: 100%;
    }

    #game {
        flex-basis: 100vw;
        padding: 0.5rem 1rem;
    }

    #game div {
        flex-basis: 40%;
    }

    .areyousure {
        flex-basis: 90vw;
    }
}
